* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 800px;
  height: 1080px;
  grid-row: 0px;
  grid-column: 0px;
}
.row > * {
  padding: 0;
}
.img1 {
  width: 400px;
  height: 350px;
}
.img2 {
  width: 100%;
  height: 220px;
}
.img3 {
  width: 100%;
  height: 130px;
}
